.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.927);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 1px;
}

.header__search{
    display:flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: rgba(184, 184, 12, 0.96);
}

.header__optionLineOne{
    font-size: 10px;
}

.header__optionLineTwo{
    font-size: 10px;
    font-weight: 800;
}

.header__optionBasket{
    display: flex;
    align-items: center;
    color: rgba(184, 184, 12, 0.904);
}

.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(148, 110, 39);
}